@font-face
{
    font-family: geosans;
    src: url(../assets/fonts/geosans.ttf);
}

@font-face
{
    font-family: Roboto;
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}

.italic
{
    font-style: italic;
}

html
{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    color: #2e2e2e;
}

body
{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Robot', sans-serif;
}

main
{
  flex: 1 0 auto;
}

.brand-logo
{
  padding-left: 10px !important;
  font-size: 1.65rem !important;
}

.areas-icon
{
  width: 100%;
  text-align: center;
  font-size: 4.5rem;
}

.footer-image
{
    width: 20px;
    height: 15px;
    vertical-align: middle;
    object-fit: contain;
}

.card.horizontal .card-image {
  max-width: 250px !important;
}

.card.horizontal .card-image img {
  max-width: 250px !important;
}

div.post-content {
  overflow-wrap: break-word;
}

div.post-content img {
  height: auto;
  max-width: 80%;
  object-fit: contain;
}
