#external
{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 65px;
}

#external-linkedin
{
    position: absolute;
    right: 35px;
}

#external-linkedin-image
{
    width: 30px;
    height: 30px;
}

#external-bitbucket
{
    position: absolute;
    right: 0px;
}

#external-bitbucket-image
{
    width: 30px;
    height: 30px;
}
