#header
{
    width: 1200px;
    height: 100px;
    margin-top: 35px;
}

#title
{
    display: inline-block;
    margin-left: 50px;
    font-family: "geosans", sans-serif;
}

#title-image
{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
}

#title-image-data
{
    width: 100px;
    height: 100px;
}

#title-text
{
    display: inline-block;
    width: 280px;
    height: 100px;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    vertical-align: top;
}

#title-text-name
{
    font-size: 2.5em;
    font-weight: bold;;
}

#title-text-role
{
    font-size: 1.75em;
}

#title-text-subrole
{
    font-size: 1.35em;
}

#accounts
{
    display: inline-block;
    float: right;
    margin-top: 30px;
    margin-right: 75px;
    width: 65px;
    white-space: nowrap;
}

#accounts-linkedin
{
    display: inline-block;
    margin-right: 5px;
}

#accounts-linkedin-image
{
    width: 40px;
    height: 40px;
}

#accounts-bitbucket
{
    display: inline-block;
}

#accounts-bitbucket-image
{
    width: 40px;
    height: 40px;
}
