#landing
{
  position: absolute;
  top: 40%;
  left: 50%;
  width: 675px;
  height: 200px;
  transform: translate(-50%, -50%);
}

#landing-image
{
  position: absolute;
  top: 0%;
  left: 0%;
}

#landing-image-data
{
    width: 200px;
    height: 200px;
}

#landing-text
{
    position: absolute;
    top: 0%;
    left: 250px;
    width: 425px;
    height: 200px;
}

#landing-text-title
{
    position: absolute;
    top: 15%;
    left: 0%;
    font-size: 5.5em;
    font-weight: bold;;
}

#landing-text-body
{
    position: absolute;
    top: 70%;
    left: 0%;
    font-size: 2em;
}
