#navigation
{
    width: 1200px;
    height: 45px;
    line-height: 40px;
    background-color: #3d3d3d;
    margin-top: 45px;
    border-top: 4px solid #4f4f4f;
    border-bottom: 4px solid #4f4f4f;
    font-family: "geosans", sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navigation-node
{
    display: inline-block;
    width: 236px;
    height: 35px;
    line-height: 35px;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
}

.navigation-link:link, .navigation-link:visited
{
    color: #ffffff;
    text-decoration: none;
}

.navigation-link:link:active, .navigation-link:visited:active
{
    color: #ffffff;
}

.navigation-link:link:hover, .navigation-link:visited:hover
{
    color: #ffffff;
    text-decoration: underline;
}

.active-navigation-node
{
    font-weight: bold;
    text-decoration: underline;
}

.inactive-navigation-node
{
    text-decoration: none;
}
