#navigation
{
    width: 100%;
    height: 45px;
    background-color: rgb(255, 255, 255);
    color: #2e2e2e;
    border-bottom: 1px solid rgba(0,0,0,.25);
    font-weight: bold;
}

#navigation-left
{
    display: inline-block;
    float: left;
}

#navigation-right
{
    display: inline-block;
    float: right;
}

.navigation-node
{
    display: inline-block;
    height: 45px;
    line-height: 45px;
    font-size: 1em;
    text-align: center;
    margin-left: 14px;
    margin-right: 14px;
}

.navigation-link:link, .navigation-link:visited
{
    color: #2e2e2e;
    text-decoration: none;
}

.navigation-link:link:active, .navigation-link:visited:active
{
    color: #2e2e2e;
}

.navigation-link:link:hover, .navigation-link:visited:hover
{
    color: #2e2e2e;
    text-decoration: underline;
}

.active-navigation-node
{
    text-decoration: underline;
}

.inactive-navigation-node
{
    text-decoration: none;
}
