#header
{
    background-color: #4b4b4b;
    color: white;
    border-top: 2px solid rgba(255, 130, 0, 1);
    border-bottom: 2px solid rgba(255, 130, 0, 1);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#title
{
    display: inline-block;
    text-align: left;
    font-family: "geosans", sans-serif;
    font-size: 3.5em;
    font-weight: bold;
}

#content
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
    padding: 0 20px;
    box-sizing: border-box;
}

.post
{
    margin-top: 15px;
    margin-bottom: 50px;
}

.post-title
{
    font-size: 3em;
}

.post-metadata
{
    margin: 5px 0;
}

.post-date
{
    display: inline-block;
    color: #777777;
}

.post-link
{
    display: inline-block;
    margin-left: 15px;
}

.post-link a
{
    color: #777777;
}

.post-link a:hover
{
    color: #777777;
}

.post-link a:visited
{
    color: #777777;
}

.post-content
{
    margin: 45px 0;
}

.post img
{
    max-width: 80%;
    object-fit: contain;
}
