#header
{
    background-color: #4b4b4b;
    color: white;
    border-bottom: 1px solid rgba(0,0,0,.25);
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

@media (max-width: 475px)
{
    #title-image
    {
        display: block;
        margin: auto;
        padding: 0;
    }

    #title-text
    {
        display: block;
        margin: auto;
        text-align: center;
    }

    #about
    {
        display: block;
        width: 90%;
        margin: auto;
    }

    #accounts
    {
        display: block;
        width: 90%;
        margin: auto;
        margin-bottom: 35px;
    }

    .accounts-row
    {
        display: inline-block;
        margin-right: 18px;
    }

    .accounts-image
    {
        margin-right: 4px;
    }
}

@media (min-width: 476px)
{
    #title-image
    {
        display: inline-block;
        margin: 0;
        padding: 12.5px 12.5px 0px 12.5px;
    }

    #title-text
    {
        display: inline-block;
        margin: 0;
        text-align: left;
    }

    #about
    {
        display: inline-block;
        vertical-align: top;
        width: 65%;
        margin: auto;
        padding: 20px;
    }

    #accounts
    {
        display: inline-block;
        vertical-align: top;
        width: 35%;
        float: right;
        padding: 20px;
    }

    .accounts-row
    {
        display: block;
    }

    .accounts-image
    {
        margin-right: 8px;
    }
}

#title
{
    font-family: "geosans", sans-serif;
}

#title-image
{
    width: 125px;
    height: 125px;
}

#title-image-data
{
    width: 125px;
    height: 125px;
}

#title-text
{
    height: 150px;
    padding: 0;
    vertical-align: top;
}

#title-text-name
{
    font-size: 3.5em;
    font-weight: bold;;
}

#title-text-role
{
    font-size: 2.25em;
}

#title-text-subrole
{
    font-size: 1.85em;
}

#content
{
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.content-title
{
    font-size: 1.75rem;
    font-weight: bold;
    color: #3a4145;
    margin-bottom: 15px;
}

#about
{
    text-align: left;
    margin-top: 20px;
    box-sizing: border-box;
}

#accounts
{
    margin-top: 20px;
    text-align: left;
    font-size: 1.15em;
    box-sizing: border-box;
}

.accounts-row
{
    margin-top: 10px;
}

.accounts-link
{
    text-decoration: none;
    font-weight: bold;
    color: #2e2e2e;
    filter: none;
    padding-top: 4px;
}

.accounts-link:hover
{
    color: #01818e;
}

.accounts-image
{
    width: 25px;
    height: 100%;
    margin-top: -4px;
    vertical-align: middle;
    object-fit: cover;
}
