#header
{
    background-color: #4b4b4b;
    color: white;
    border-top: 2px solid rgba(255, 130, 0, 1);
    border-bottom: 2px solid rgba(255, 130, 0, 1);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

@media (max-width: 700px)
{
    #content
    {
        width: 80%;
    }
}

@media (min-width: 701px)
{
    #content
    {
        width: 90%;
        padding: auto;
    }

    .projects-entry
    {
        width: 46%;
        margin-left: auto;
        margin-right: auto;
    }
}

#title
{
    display: inline-block;
    text-align: left;
    font-family: "geosans", sans-serif;
    font-size: 3.5em;
    font-weight: bold;
}

#content
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.projects-entry
{
    max-width: 375px;
    box-sizing: border-box;
    min-height: 350px;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5), 0 2px 10px 0 rgba(0,0,0,0.5);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

.projects-entry-image
{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid rgba(75, 75, 75, 0.55);
}

.projects-entry-content
{
    font-size: 1em;
    padding: 5px 10px;
}

.projects-entry-title
{
    font-size: 1.35em;
    font-weight: bold;
    color: #4b4b4b;
    margin-bottom: 10px;
}

.projects-entry-description
{
    height: 70px;
}

.projects-entry-footer
{
    width: 98%;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.projects-entry-link-wrapper
{
    display: inline-block;
    float: left;
    text-align: center;
    width: 50%;
}

.projects-entry-link-wrapper a
{
    font-size: 1.2rem;
    line-height: 30px;
    color: black;
}

.projects-spacer
{
    width: 10px;
}
