#content
{
    height: 630px;
}

#experience-menu
{
    font-size: 0.925em;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 100%;
    background-color: #343434;
    border-right: 4px solid #4f4f4f;
}

.experience-menu-parent-list
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.experience-menu-parent-list li
{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 8px;
    border-bottom: 4px solid #4f4f4f;
    background-color: #404040;
}

.experience-menu-child-list
{
    margin: 0;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 0;
    padding-right: 8px;
    list-style: none;
}

.experience-menu-child-list li
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    cursor: pointer;
    font-style: italic;
    border-top: 1px solid #cccccc;
    border-bottom: none;
    background-color: #404040;
}

.experience-menu-child-list a
{
    display: block;
    width: 100%;
    height: 100%;
    color: #dddddd;
    text-decoration: none;
}

.experience-menu-child-list a :hover :visited
{
    color: #dddddd;
}

.experience-menu-child-list-bottom
{
    border-bottom: 1px solid #cccccc !important;
}

.experience-menu-child-list li:hover
{
    background-color: #2d2d2d;
}

.experience-menu-company
{
    font-weight: bold;
    padding-bottom: 3px;
}

#experience-data
{
    display: inline-block;
    vertical-align: top;
    width: 949px;
    padding: 20px;
    padding-right: 22px;
}

.experience-section
{

}

.experience-section-title
{
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
}

.experience-section-time
{
    display: inline-block;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
}

.experience-section-company
{
    font-style: italic;
    font-size: 1.1em;
}

.experience-subsection
{
    margin-top: 25px;
}

.experience-subsection-title
{

}

.experience-separator
{
    margin-top: 35px;
    margin-bottom: 35px;
}
