#header
{
    background-color: #4b4b4b;
    color: white;
    border-top: 2px solid rgba(255, 130, 0, 1);
    border-bottom: 2px solid rgba(255, 130, 0, 1);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

@media (max-width: 585px)
{
    .experience-entry-header-logo
    {
        height: 65px;
        line-height: 65px;
        width: 100%;
        object-fit: contain;
        margin-bottom: 25px !important;
    }

    .experience-entry-header-role
    {
        font-size: 1em;
    }
}

@media (min-width: 586px)
{
    .experience-entry-header-logo
    {
        height: 50px;
        line-height: 50px;
    }

    .experience-entry-header-role
    {
        font-size: 1.15em;
    }
}

#title
{
    display: inline-block;
    text-align: left;
    font-family: "geosans", sans-serif;
    font-size: 3.5em;
    font-weight: bold;
}

#content
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.experience-entry
{
    width: 90%;
    max-width: 700px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.32), 0 2px 10px 0 rgba(0,0,0,0.24);
    margin: auto;
    margin-bottom: 40px;
}

.experience-entry-content
{
    padding: 5px;
}

.experience-entry-header
{
    padding: 15px 15px 0px 15px;
}

.experience-entry-header-logo
{
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    margin-bottom: 15px;
}

.experience-entry-header-text
{
    display: inline-block;
    vertical-align: top;
}

.experience-entry-header-name
{
    line-height: 20px;
    font-size: 1.35em;
}

.experience-entry-header-role
{
    line-height: 40px;
    font-weight: bold;
}

.experience-entry-content
{
    padding: 15px;
}

.experience-entry-footer
{
    background-color: rgba(0, 0, 0, 0.025);
    padding: 20px;
    font-size: 0.95em;
}
