#header
{
    background-color: #d4e7f4;
    border-bottom: 1px solid rgba(0,0,0,.25);
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

#title
{
    display: inline-block;
    font-family: "geosans", sans-serif;
    text-align: left;
}

#title-image
{
    display: inline-block;
    width: 125px;
    height: 125px;
    padding: 12.5px 0px 0px 12.5px;
    margin: 0;
}

#title-image-data
{
    width: 125px;
    height: 125px;
}

#title-text
{
    display: inline-block;
    height: 150px;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

#title-text-name
{
    font-size: 3.5em;
    font-weight: bold;;
}

#title-text-role
{
    font-size: 2.25em;
}

#title-text-subrole
{
    font-size: 1.85em;
}

#content
{
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.content-title
{
    font-size: 1.75rem;
    font-weight: bold;
    color: #3a4145;
    margin-bottom: 25px;
}

#about
{
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
    margin-right: 50px;
    text-align: left;
}

#accounts
{
    display: inline-block;
    vertical-align: top;
    width: 120px;
    margin-top: 35px;
    text-align: left;
    font-size: 1.15em;
}

.accounts-row
{
    margin-top: 10px;
}

.accounts-link
{
    text-decoration: none;
    font-weight: bold;
    color: #2e2e2e;
    filter: none;
}

.accounts-link:hover
{
    color: #01818e;
}

.accounts-image
{
    width: 25px;
    height: 100%;
    margin-right: 8px;
    vertical-align: middle;
    object-fit: cover;
}
