#header
{
    background-color: #e6eff5;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#title
{
    display: inline-block;
    text-align: left;
    font-family: "geosans", sans-serif;
    font-size: 3.5em;
    font-weight: bold;
}

#content
{
    padding-top: 35px;
    padding-bottom: 35px;
}

#contact-title
{
    width: 500px;
    font-size: 1.75em;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
}

#contact
{
    width: 500px;
    font-size: 1.5em;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

#contact-response
{
    width: 500px;
    font-size: 1.35em;
    padding-top: 65px;
    padding-bottom: 65px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#contact-response-header
{
    margin-bottom: 75px;
    font-size: 2em;
    font-weight: bold;
}

input[type=text], select, textarea
{
    font-family: sans-serif;
    font-size: 0.75em;
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    resize: vertical;
}

input[type=submit]
{
    font-family: sans-serif;
    font-size: 0.8em;
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    background-color: #dddddd;
}

input[type=submit]:hover
{
    background-color: #aaaaaa;
}
