<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kyle Bignell - Front-End Development</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link href="/output.css" rel="stylesheet" />
</head>

<body>
  <%- include('./nav.html') %>
    <%- include('./hero.html') %>
      <%- include('./services.html') %>
        <%- include('./skills.html') %>
          <%- include('./experience.html') %>
            <%- include('./projects.html') %>
              <%- include('./footer.html') %>
</body>

</html>