<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="A senior front-end developer with over 10 years experience in building web applications. Proficient in JavaScript/TypeScript with React for building modern user interfaces. Open to contract and freelance work."
        />

        <meta
            property="og:title"
            content="Kyle Bignell - Front-End Developer - JavaScript | TypeScript"
        />
        <meta
            property="og:description "
            content="A senior front-end developer with over 10 years experience in building web applications. Proficient in JavaScript/TypeScript with React for building modern user interfaces. Open to contract and freelance work."
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://kylebignell.co.uk" />
        <meta
            property="og:image"
            content="https://kylebignell.co.uk/images/me.jpg"
        />

        <title>
            Kyle Bignell - Front-End Developer - JavaScript | TypeScript
        </title>

        <link rel="canonical" href="https://kylebignell.co.uk" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link href="/output.css" rel="stylesheet" />

        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "ProfessionalService",
                "image": ["https://kylebignell.co.uk/images/me.jpg"],
                "name": "Kyle Bignell - Front End Developer",
                "address": {
                    "@type": "PostalAddress",
                    "addressLocality": "Bath",
                    "addressRegion": "Somerset",
                    "addressCountry": "UK"
                },
                "url": "https://kylebignell.co.uk/",
                "logo": "https://kylebignell.co.uk/images/logo.png"
            }
        </script>
    </head>

    <body>
        <%- include('./nav.html') %> <%- include('./hero.html') %> <%-
        include('./services.html') %> <%- include('./skills.html') %> <%-
        include('./experience.html') %> <%- include('./projects.html') %> <%-
        include('./showcase.html') %> <%- include('./scroll-to-top.html') %> <%-
        include('./footer.html') %>
    </body>
</html>
